<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/robots/new">
      <button>+ New Robot</button>
    </a>

    <ul>
      <% robots.forEach(function(robot){ %>
        <li>
          <a href="/robots/<%= robot._id %>"><%= robot._id %></a>
          - <%= robot.name %>
          - <%= robot.description %>
        </li>
      <% }) %>
    </ul>

    <hr style="margin-top:2em;">

    <% include ../footer %>
  </body>
</html>
