<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p><%= robot.name %> - <%= robot.description %></p>
    <p>In Stock: <%= robot.in_stock %> </p>

    <a href="/robots/<%= robot._id %>/edit">
      <button>Edit</button>
    </a>

    <button id="delete-robot">Delete</button>

    <hr style="margin-top:2em;">

    <% include ../footer %>

    <script type="text/javascript">
      var deleteButton = document.getElementById("delete-robot")
      deleteButton.addEventListener("click", deleteRobot, false)
      function deleteRobot() {
        const requestUrl = "<%= requestUrl %>"
        const requestOptions = {
          method: "DELETE",
          headers: {'Accept':'application/json', 'Content-Type':'application/json'}
        }
        fetch(requestUrl, requestOptions).then(function(response) {
          if (response.ok) {
            window.location = '/robots'
          } else {
            alert("Destruction Error.")
          }
        }).catch(function(err){
          alert("Server Error. Maybe the API server is down or something. Try again in a few moments.")
        })
      }
    </script>
  </body>
</html>
